@font-face {
    font-family: 'Lobster';
    src: local(Lobster), url('../src/fonts/Lobster-Regular.ttf') format('truetype');
}

#container {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
}

header {
    display: inline-block;
    width: 100%;
}

header img {
    float: left;
}

.topLinks {
    overflow: hidden;
    background-color: red;
    width: 100%;
    margin-bottom: 2%;
    display: inline-flex;
}

.topLinks a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 23.1%;
}

.menuDropdown {
    float: left;
    overflow: hidden;
    width: 23.1%;
    text-align: center;
}

.menuDropdown .btnMenuDropdown {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.topLinks a:hover, .menuDropdown:hover .btnMenuDropdown {
    background-color: lawngreen;
}

.menuDropdownContent {
    display: none;
    position: absolute;
    background-color: lawngreen;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: inherit;
    margin-bottom: 5%;
}

.menuDropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: inherit;
    max-width: inherit;
}

.menuDropdownContent a:hover {
    background-color: yellow;
}

.menuDropdown:hover .menuDropdownContent {
    display: block;
}

.slideshow_Deals {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#pizzaPage_PizzaMenuAndOrdering {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 20vw;
}

#housePizzaPage_PizzaMenuAndOrdering {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 20vw;
}

#socialMedia {
    width: auto;
    height: auto;
    background-color: black;
    margin-bottom: 0;
    clear: both;
}

.socialMediaNav {
    display: inline-block;
    text-align: center;
}

.socialMediaNav a {
    width: 10%;
}

.socialMediaIcon {
    width: 10%;
    height: inherit;
}

footer {
    background-color: black;
}

.bottomLinks {
    overflow: hidden;
    background-color: black;
    width: 100%;
    display: inline-flex;
    margin-bottom: 5%;
}

.bottomLinks a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 14%;
}

.bottomLinks a:hover, .careerDropdown:hover .btnCareerDropdown {
    background-color: red;
}

.careerDropdown {
    float: left;
    overflow: hidden;
    width: 14%;
    text-align: center;
}

.careerDropdown .btnCareerDropdown {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.careerDropdownContent {
    display: none;
    position: absolute;
    background-color: green;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: inherit;
}

.careerDropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: inherit;
    max-width: inherit;
}

.careerDropdownContent a:hover {
    background-color: red;
}

.careerDropdown:hover .careerDropdownContent {
    display: block;
}

#copyright {
    background-color: red;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    height: 30%;
    width: 100%;
}


/****************************************************************************************************************/
/****************************************** ABOUT PAGE CSS: START ***********************************************/
#ABOUT_H2 {
    text-align: center;
}

.aboutPicContainer1 {
    float: left;
}

.aboutPicContainer1 img {
    width: 35vw;
    height: 20vw;
}

.aboutPicContainer2 {
    float: right;
}

.aboutPicContainer2 img {
    width: 35vw;
    height: 20vw;
}

#aboutBottomP {
    text-align: center;
}
/****************************************** ABOUT PAGE CSS: END *************************************************/
/****************************************************************************************************************/


/****************************************************************************************************************/
/**************************************** GIFTCARD PAGE CSS: START **********************************************/
#giftcardContent {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: center;
}

#giftcardContent h2, p {
    text-align: center;
}

#giftcardOrderLogoCheck {
    width: 100%;
    text-align: center;
}

#giftcardOrderButtonDiv {
    float: left;
    text-align: left;
    width: 33.33%;
}

#giftcardOrderButtonDiv button {
    position: absolute;
    bottom: 0%;
    width: 15vw;
    height: 4.5vw;
    background: #cc0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* Standard syntax */
    color: white;
    border-radius: 1vw;
    font-family: sans-serif;
    font-weight: 800;
}

#giftcardLogoContainer {
    display: inline-block;
    margin: 0 auto;
    width: 33.33%;
    text-align: center;
}

#giftcardLogoContainer img {
    width: 30vw;
    height: 26vw;
    align-content: center;
}

#giftcardCheckButtonDiv {
    float: right;
    width: 33.33%;
}

#giftcardCheckButtonDiv button {
    position: absolute;
    bottom: 0%;
    width: 15vw;
    height: 4.5vw;
    background: #cc0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* Standard syntax */
    color: white;
    border-radius: 1vw;
    font-family: sans-serif;
    font-weight: 800;
}
/***************************************** GIFTCARD PAGE CSS: END ***********************************************/
/****************************************************************************************************************/


/****************************************************************************************************************/
/**************************************** CONTACT PAGE CSS: START ***********************************************/

#contactPageContainer {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

    #contactPageContainer h2 {
        text-align: center;
    }

#contactPageUnderHeader {
    display: inline-flex;
    margin-bottom: 5vw;
}

/****************************************************************************************************************/
/************************************** CONTACT PAGE FORM CSS: START ********************************************/

#frmContainer {
    width: 60%;
    height: 49vw;
    background-color: black;
    float: left;
    margin-right: 12vw;
}

#frmContactContactReasonSelectDiv {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#frmContactContactReasonSelectDiv select {
    width: 100%;
    text-align: left;
    height: 3vw;
}

#frmContactContactReasonSelectDiv label {
    color: yellow;
    text-align: left;
}

#frmContactFullNameDiv {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#frmContactFullNameDiv input {
    width: 100%;
    text-align: left;
    height: 3vw;
    font-size: 1vw;
}

#frmContactFullNameDiv label {
    color: white;
    text-align: left;
}

#frmContactEmail {
    float: left;
    margin-right: 5vw;
    padding-left: 5%;
    width: 44%;
}

#frmContactEmail input {
    width: 100%;
    height: 3vw;
    font-size: 1vw;
}

#frmContactEmail label {
    text-align: left;
    color: white;
}

#frmContactEmail input, label {
    display: block;
}

#frmContactPhoneNumber {
    float: right;
    padding-right: 5%;
    width: 44%;
}

#frmContactPhoneNumber input {
    width: 100%;
    height: 3vw;
    font-size: 1vw;
}

#frmContactPhoneNumber label {
    text-align: left;
    color: white;
}

#frmContactPhoneNumber input, label {
    display: block;
}

#frmContactAddressInput {
    float: left;
    margin-right: 5vw;
    padding-left: 5%;
    width: 54%;
}

#frmContactAddressInput input {
    width: 100%;
    height: 3vw;
    font-size: 1vw;
}

#frmContactAddressInput label {
    text-align: left;
    color: white;
}

#frmContactAddressInput input, label {
    display: block;
}

#frmContactAptNumberInput {
    float: right;
    padding-right: 5%;
    width: 34%;
}

#frmContactAptNumberInput input {
    width: 100%;
    height: 3vw;
    font-size: 1vw;
}

#frmContactAptNumberInput label {
    text-align: left;
    color: white;
}

#frmContactAptNumberInput input, label {
    display: block;
}

#frmContactCityStateZip {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#frmContactCity {
    float: left;
    text-align: left;
    width: 40%;
}

#frmContactCity input {
    width: 100%;
    height: 3vw;
    font-size: 1vw;
}

#frmContactCity label {
    text-align: left;
    color: white;
}

#frmContactCity input, label {
    display: block;
}

#frmContactStateSelect {
    display: inline-block;
    margin: 0 auto;
    width: 25%;
}

#frmContactStateSelect select {
    width: 100%;
    height: 3vw;
    font-size: 1vw;
}

#frmContactStateSelect label {
    text-align: left;
    color: white;
}

#frmContactStateSelect select, label {
    display: block;
}

#frmContactZipCode {
    float: right;
    width: 25%;
}

#frmContactZipCode input {
    width: 100%;
    height: 3vw;
    font-size: 1vw;
}

#frmContactZipCode label {
    text-align: left;
    color: white;
}

#frmContactZipCode input, label {
    display: block;
}

#frmContactTextarea {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#frmContactTextarea textarea {
    width: 100%;
    text-align: left;
}

#frmContactTextarea label {
    color: white;
    text-align: left;
}

#frmContactTextarea textarea, label {
    display: block;
}

/*************************************** CONTACT PAGE FORM CSS: END *********************************************/
/****************************************************************************************************************/

#contactInformation {
    height: 20vw;
    width: 27vw;
    background: #cc0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* Standard syntax */
}

#contactInformation h3 {
    border-bottom: .2vw solid black;
    font-family: Lobster;
    font-weight: 700;
}

#contactInformation p {
    color: white;
    font-size: large;
    font-weight: 600;
}

/***************************************** CONTACT PAGE CSS: END ***********************************************/
/****************************************************************************************************************/