#container {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
}

header {
    display: inline-block;
    width: 100%;
}

header img {
    float: left;
}

.topLinks {
    overflow: hidden;
    background-color: red;
    width: 100%;
    margin-bottom: 2%;
    display: inline-flex;
}

.topLinks a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 23.1%;
}

.menuDropdown {
    float: left;
    overflow: hidden;
    width: 23.1%;
    text-align: center;
}

.menuDropdown .btnMenuDropdown {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.topLinks a:hover, .menuDropdown:hover .btnMenuDropdown {
    background-color: lawngreen;
}

.menuDropdownContent {
    display: none;
    position: absolute;
    background-color: lawngreen;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: inherit;
    margin-bottom: 5%;
}

.menuDropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: inherit;
    max-width: inherit;
}

.menuDropdownContent a:hover {
    background-color: yellow;
}

.menuDropdown:hover .menuDropdownContent {
    display: block;
}

.slideshow_Deals {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#pizzaPage_PizzaMenuAndOrdering {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 20vw;
}

#housePizzaPage_PizzaMenuAndOrdering {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 20vw;
}

#socialMedia {
    width: auto;
    height: auto;
    background-color: black;
    margin-bottom: 0;
    clear: both;
}

.socialMediaNav {
    display: inline-block;
    text-align: center;
}

.socialMediaNav a {
    width: 10%;
}

.socialMediaIcon {
    width: 10%;
    height: inherit;
}

footer {
    background-color: black;
}

.bottomLinks {
    overflow: hidden;
    background-color: black;
    width: 100%;
    display: inline-flex;
    margin-bottom: 5%;
}

.bottomLinks a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 14%;
}

.bottomLinks a:hover, .careerDropdown:hover .btnCareerDropdown {
    background-color: red;
}

.careerDropdown {
    float: left;
    overflow: hidden;
    width: 14%;
    text-align: center;
}

.careerDropdown .btnCareerDropdown {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.careerDropdownContent {
    display: none;
    position: absolute;
    background-color: green;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: inherit;
}

.careerDropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: inherit;
    max-width: inherit;
}

.careerDropdownContent a:hover {
    background-color: red;
}

.careerDropdown:hover .careerDropdownContent {
    display: block;
}

#copyright {
    background-color: red;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    height: 30%;
    width: 100%;
}


/****************************************************************************************************************/
/****************************************** ABOUT PAGE CSS: START ***********************************************/
#ABOUT_H2 {
    text-align: center;
}

.aboutPicContainer1 {
    float: left;
}

.aboutPicContainer1 img {
    width: 35vw;
    height: 20vw;
}

.aboutPicContainer2 {
    float: right;
}

.aboutPicContainer2 img {
    width: 35vw;
    height: 20vw;
}

#aboutBottomP {
    text-align: center;
}
/****************************************** ABOUT PAGE CSS: END *************************************************/
/****************************************************************************************************************/


/****************************************************************************************************************/
/**************************************** GIFTCARD PAGE CSS: START **********************************************/
#giftcardContent {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: center;
}

#giftcardContent h2, p {
    text-align: center;
}

#giftcardOrderLogoCheck {
    width: 100%;
    text-align: center;
}

#giftcardOrderButtonDiv {
    float: left;
    text-align: left;
    width: 33.33%;
}

#giftcardOrderButtonDiv button {
    position: absolute;
    bottom: 0%;
    width: 15vw;
    height: 4.5vw;
    background: #cc0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* Standard syntax */
    color: white;
    border-radius: 1vw;
    font-family: sans-serif;
    font-weight: 800;
}

#giftcardLogoContainer {
    display: inline-block;
    margin: 0 auto;
    width: 33.33%;
    text-align: center;
}

#giftcardLogoContainer img {
    width: 30vw;
    height: 26vw;
    align-content: center;
}

#giftcardCheckButtonDiv {
    float: right;
    width: 33.33%;
}

#giftcardCheckButtonDiv button {
    position: absolute;
    bottom: 0%;
    width: 15vw;
    height: 4.5vw;
    background: #cc0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffdede, #ffa7a5, #ff6666, #630303, #cc0000, #ffa7a5); /* Standard syntax */
    color: white;
    border-radius: 1vw;
    font-family: sans-serif;
    font-weight: 800;
}
/***************************************** GIFTCARD PAGE CSS: END ***********************************************/
/****************************************************************************************************************/


/****************************************************************************************************************/
/**************************************** CONTACT PAGE CSS: START **********************************************/


/****************************************************************************************************************/
/************************************** CONTACT PAGE FORM CSS: START ********************************************/
#frmContainer {
    width: 40vw;
    height: 70vw;
    background-color: black;
    float: left;
}

#frmContactUs {
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
}

/******************* FROM HERE TO THE NEXT COMMENT LINE IS ALL COPIED FROM A TUTORIAL ************** 
.frmContactContactReason {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.frmContactContactReason select {
    display: none;
}

.select-selected {
    background-color: darkgrey;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 3vw;
    right: 1.5vw;
    width: 0;
    height: 0;
    border: 1.2vw solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 1.3vw;
}

.select-items div, .select-selected {
    color: #ffffff;
    padding: 1.4vw 2.2vw;
    border: .2vw solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: darkgrey;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
********************************************************************************************************/

/*          OLD CSS
.frmContactContactReason label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-weight: 700;
    background-color: gray;
    color: white;
    text-align: left;
}
*/
/*         OLD CSS
.frmContactContactReason select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-weight: 700;
    background-color: gray;
    color: white;
    text-align: left;
}
*/

#contactPageContainer {
    text-align: center;
    /*display: inline-block;*/
    margin: 0 auto;
    width: 100%;
    /*position: absolute;
    clear: both;*/
}

#contactPageContainer h2 {
    text-align: center;
}

#frmContainer {
    float: left;
    width: 60%;
    background-color: gray;
}

#contactInformation {
    float: right;
    border: .5vw solid red;
}



/*************************************** CONTACT PAGE FORM CSS: END *********************************************/
/****************************************************************************************************************/


/***************************************** CONTACT PAGE CSS: END ***********************************************/
/****************************************************************************************************************/